<%= form_for(@search_engine) do |f| -%>
  <% if @search_engine.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@search_engine.errors.count, "error") %> prohibited this search_engine from being saved:</h2>
    <ul>
    <% @search_engine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name -%>
    <%= f.text_field :name -%>
  </div>
  <div class="form-group">
    <%= f.label :url -%>
    <%= f.url_field :url, class: 'resource_url' -%>
  </div>
  <div class="form-group">
    <%= f.label :base_url -%>
    <%= f.text_area :base_url, class: 'form-control' -%>
  </div>
  <div class="form-group">
    <%= f.label :http_method -%>
    <%= f.select :http_method, ['get', 'post'] -%>
  </div>
  <div class="form-group">
    <%= f.label :query_param -%>
    <%= f.text_field :query_param -%>
  </div>
  <div class="form-group">
    <%= f.label :additional_param -%>
    <%= f.text_area :additional_param, class: 'form-control' -%>
  </div>
  <div class="form-group">
    <%= f.label :note -%>
    <%= f.text_area :note, class: 'form-control' -%>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<%- end -%>
