<%= simple_form_for(@user_group) do |f| %>
  <%= f.error_notification -%>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, required: true %>
  </div>
  <div class="form-group">
    <%= f.label :display_name %><br />
    <%= f.text_area :display_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :valid_period_for_new_user %><br />
    <%= f.text_field :valid_period_for_new_user, class: 'resource_integer' %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_day_to_notify_due_date %><br />
    <%= f.text_field :number_of_day_to_notify_due_date, class: 'resource_integer' %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_day_to_notify_overdue %><br />
    <%= f.text_field :number_of_day_to_notify_overdue, class: 'resource_integer' %>
  </div>
  <div class="form-group">
    <%= f.label :number_of_time_to_notify_overdue %><br />
    <%= f.text_field :number_of_time_to_notify_overdue, class: 'resource_integer' %>
  </div>

  <div class="form-group">
    <%= f.label :note %><br />
    <%= f.text_area :note, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
