<%= form_for(@withdraw) do |f| %>
  <% if @withdraw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@withdraw.errors.count, "error") %> prohibited this withdraw from being saved:</h2>

      <ul>
      <% @withdraw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :basket_id %><br>
    <%= f.number_field :basket_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :librarian_id %><br>
    <%= f.number_field :librarian_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
