<p id="notice"><%= notice %></p>

<h1>Listing Withdraws</h1>

<table>
  <thead>
    <tr>
      <th>Basket</th>
      <th>Item</th>
      <th>Librarian</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @withdraws.each do |withdraw| %>
      <tr>
        <td><%= withdraw.basket_id %></td>
        <td><%= withdraw.item_id %></td>
        <td><%= withdraw.librarian_id %></td>
        <td><%= link_to 'Show', withdraw %></td>
        <td><%= link_to 'Edit', edit_withdraw_path(withdraw) %></td>
        <td><%= link_to 'Destroy', withdraw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Withdraw', new_withdraw_path %>
