<p id="notice"><%= notice %></p>

<p>
  <strong>Basket:</strong>
  <%= @withdraw.basket_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @withdraw.item_id %>
</p>

<p>
  <strong>Librarian:</strong>
  <%= @withdraw.librarian_id %>
</p>

<%= link_to 'Edit', edit_withdraw_path(@withdraw) %> |
<%= link_to 'Back', withdraws_path %>
