<%= form_for(@bookstore) do |f| -%>
  <%= f.error_messages -%>

  <div class="form-group">
    <%= f.label :name -%><br />
    <%= f.text_field :name -%>
  </div>

  <div class="form-group">
    <%= f.label :zip_code -%><br />
    <%= f.text_field :zip_code -%>
  </div>

  <div class="form-group">
    <%= f.label :address -%><br />
    <%= f.text_area :address, class: 'form-control' -%>
  </div>

  <div class="form-group">
    <%= f.label :telephone_number -%><br />
    <%= f.phone_field :telephone_number -%>
  </div>

  <div class="form-group">
    <%= f.label :fax_number -%><br />
    <%= f.phone_field :fax_number -%>
  </div>

  <div class="form-group">
    <%= f.label :url -%><br />
    <%= f.url_field :url, class: 'resource_url' -%>
  </div>

  <div class="form-group">
    <%= f.label :note -%><br />
    <%= f.text_area :note, class: 'form-control' -%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<%- end -%>
