<%= form_for(@user_export_file) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :mode, value: 'export' if @user_export_file.new_record? %><br>
  <div class="actions">
    <% if @user_export_file.new_record? %>
      <%= f.submit t('page.export'), class: 'btn btn-primary' %>
    <% else %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
